In [2]:
import pandas as pd
import numpy as np

In [4]:
# population in millions of 7 countries
C_7_pop = pd.Series([35.467, 63.951, 80.94, 60.665, 127.061, 64.511, 318.523])

In [5]:
C_7_pop

0     35.467
1     63.951
2     80.940
3     60.665
4    127.061
5     64.511
6    318.523
dtype: float64

In [6]:
C_7_pop.name = "Population of 7 countries"

In [7]:
C_7_pop

0     35.467
1     63.951
2     80.940
3     60.665
4    127.061
5     64.511
6    318.523
Name: Population of 7 countries, dtype: float64

## Indexing

In [8]:
C_7_pop.index = ["Andorra", "Austria", "Belgium", "Cyprus", "Estonia", "Finland", "Germany"]

In [9]:
C_7_pop

Andorra     35.467
Austria     63.951
Belgium     80.940
Cyprus      60.665
Estonia    127.061
Finland     64.511
Germany    318.523
Name: Population of 7 countries, dtype: float64

In [10]:
pd.Series({
    "Andorra": 35.467, 
    "Austria": 63.951, 
    "Belgium": 80.94, 
    "Cyprus": 60.665, 
    "Estonia": 127.061, 
    "Finland": 64.511, 
    "Germany": 318.523})

Andorra     35.467
Austria     63.951
Belgium     80.940
Cyprus      60.665
Estonia    127.061
Finland     64.511
Germany    318.523
dtype: float64

In [11]:
pd.Series(C_7_pop, index=["Estonia", "Finland", "Germany"])

Estonia    127.061
Finland     64.511
Germany    318.523
Name: Population of 7 countries, dtype: float64

In [12]:
C_7_pop[["Estonia", "Finland", "Germany"]]

Estonia    127.061
Finland     64.511
Germany    318.523
Name: Population of 7 countries, dtype: float64

In [13]:
C_7_pop.iloc[[0, 1, 6]]

Andorra     35.467
Austria     63.951
Germany    318.523
Name: Population of 7 countries, dtype: float64

## Conditional Selection (Boolean Arrays)

 * In pandas its called Booleans series 
 * Works same as in Numpy

In [14]:
C_7_pop

Andorra     35.467
Austria     63.951
Belgium     80.940
Cyprus      60.665
Estonia    127.061
Finland     64.511
Germany    318.523
Name: Population of 7 countries, dtype: float64

In [15]:
C_7_pop > 100

Andorra    False
Austria    False
Belgium    False
Cyprus     False
Estonia     True
Finland    False
Germany     True
Name: Population of 7 countries, dtype: bool

In [16]:
C_7_pop[C_7_pop > 100]

Estonia    127.061
Germany    318.523
Name: Population of 7 countries, dtype: float64

In [17]:
C_7_pop.mean()

np.float64(107.30257142857144)

In [18]:
C_7_pop[C_7_pop > C_7_pop.mean()]

Estonia    127.061
Germany    318.523
Name: Population of 7 countries, dtype: float64

In [19]:
C_7_pop.std()

np.float64(97.24996987121581)

In [20]:
C_7_pop[(C_7_pop > C_7_pop.mean() - C_7_pop.std()) & (C_7_pop < C_7_pop.mean() + C_7_pop.std())]

Andorra     35.467
Austria     63.951
Belgium     80.940
Cyprus      60.665
Estonia    127.061
Finland     64.511
Name: Population of 7 countries, dtype: float64

## Operations and Methods
* Series also support vectorized operations and aggregation function
in Numpy

In [21]:
C_7_pop

Andorra     35.467
Austria     63.951
Belgium     80.940
Cyprus      60.665
Estonia    127.061
Finland     64.511
Germany    318.523
Name: Population of 7 countries, dtype: float64

In [22]:
C_7_pop * 100000

Andorra     3546700.0
Austria     6395100.0
Belgium     8094000.0
Cyprus      6066500.0
Estonia    12706100.0
Finland     6451100.0
Germany    31852300.0
Name: Population of 7 countries, dtype: float64

In [23]:
C_7_pop.mean()

np.float64(107.30257142857144)

In [24]:
np.log(C_7_pop)

Andorra    3.568603
Austria    4.158117
Belgium    4.393708
Cyprus     4.105367
Estonia    4.844667
Finland    4.166836
Germany    5.763695
Name: Population of 7 countries, dtype: float64

In [25]:
C_7_pop['Finland': 'Germany'].mean()

np.float64(191.517)

## Modifying Series

In [26]:
C_7_pop['Finland'] = 430.453

In [27]:
C_7_pop

Andorra     35.467
Austria     63.951
Belgium     80.940
Cyprus      60.665
Estonia    127.061
Finland    430.453
Germany    318.523
Name: Population of 7 countries, dtype: float64

In [28]:
C_7_pop.iloc[-1] = 500

In [29]:
C_7_pop

Andorra     35.467
Austria     63.951
Belgium     80.940
Cyprus      60.665
Estonia    127.061
Finland    430.453
Germany    500.000
Name: Population of 7 countries, dtype: float64

In [30]:
C_7_pop[C_7_pop < 100]

Andorra    35.467
Austria    63.951
Belgium    80.940
Cyprus     60.665
Name: Population of 7 countries, dtype: float64

In [31]:
C_7_pop[C_7_pop < 100] = 123.231

In [32]:
C_7_pop

Andorra    123.231
Austria    123.231
Belgium    123.231
Cyprus     123.231
Estonia    127.061
Finland    430.453
Germany    500.000
Name: Population of 7 countries, dtype: float64