# Reading Excel Files

In [1]:
import pandas as pd

In [2]:
!head.products.xlsx

'head.products.xlsx' is not recognized as an internal or external command,
operable program or batch file.

*The read_excel method*

In [3]:
df = pd.read_excel('products.xlsx',header=None)
df.head()

,0,1,2,3,4
0,product_id,price,merchant_id,brand,name
1,AVphzgbJLJeJML43fA0o,104.99,1001,Sanus,Sanus VLF410B1 10-Inch Super Slim Full-Motion ...
2,AVpgMuGwLJeJML43KY_c,69,1002,Boytone,Boytone - 2500W 2.1-Ch. Home Theater System - ...
3,AVpe9FXeLJeJML43zHrq,23.99,1001,DENAQ,DENAQ - AC Adapter for TOSHIBA SATELLITE
4,AVpfVJXu1cnluZ0-iwTT,290.99,1001,DreamWave,DreamWave - Tremor Portable Bluetooth Speaker ...

* Adding Index to our data using Index_col parameter

In [4]:
df = pd.read_excel('products.xlsx',header=None, index_col=[0])

In [5]:
df.head()

,1,2,3,4
0,,,,
product_id,price,merchant_id,brand,name
AVphzgbJLJeJML43fA0o,104.99,1001,Sanus,Sanus VLF410B1 10-Inch Super Slim Full-Motion ...
AVpgMuGwLJeJML43KY_c,69,1002,Boytone,Boytone - 2500W 2.1-Ch. Home Theater System - ...
AVpe9FXeLJeJML43zHrq,23.99,1001,DENAQ,DENAQ - AC Adapter for TOSHIBA SATELLITE
AVpfVJXu1cnluZ0-iwTT,290.99,1001,DreamWave,DreamWave - Tremor Portable Bluetooth Speaker ...

* Selecting Specific Sheets

In [6]:
product = pd.read_excel('products.xlsx', index_col='product_id', sheet_name='Products')

In [7]:
product.head()

,price,merchant_id,brand,name
product_id,,,,
AVphzgbJLJeJML43fA0o,104.99,1001,Sanus,Sanus VLF410B1 10-Inch Super Slim Full-Motion ...
AVpgMuGwLJeJML43KY_c,69.00,1002,Boytone,Boytone - 2500W 2.1-Ch. Home Theater System - ...
AVpe9FXeLJeJML43zHrq,23.99,1001,DENAQ,DENAQ - AC Adapter for TOSHIBA SATELLITE
AVpfVJXu1cnluZ0-iwTT,290.99,1001,DreamWave,DreamWave - Tremor Portable Bluetooth Speaker ...
AVphUeKeilAPnD_x3-Be,244.01,1004,Yamaha,NS-SP1800BL 5.1-Channel Home Theater System (B...

* Excel File Class

In [8]:
excel_file = pd.ExcelFile('products.xlsx')
excel_file

In [9]:
excel_file.sheet_names

['Products', 'Descriptions', 'Merchants']

In [10]:
products = excel_file.parse('Products')
products.head()

,product_id,price,merchant_id,brand,name
0,AVphzgbJLJeJML43fA0o,104.99,1001,Sanus,Sanus VLF410B1 10-Inch Super Slim Full-Motion ...
1,AVpgMuGwLJeJML43KY_c,69.00,1002,Boytone,Boytone - 2500W 2.1-Ch. Home Theater System - ...
2,AVpe9FXeLJeJML43zHrq,23.99,1001,DENAQ,DENAQ - AC Adapter for TOSHIBA SATELLITE
3,AVpfVJXu1cnluZ0-iwTT,290.99,1001,DreamWave,DreamWave - Tremor Portable Bluetooth Speaker ...
4,AVphUeKeilAPnD_x3-Be,244.01,1004,Yamaha,NS-SP1800BL 5.1-Channel Home Theater System (B...

In [11]:
products = excel_file.parse('Products', header=None, index_col=[0])
products.head()

,1,2,3,4
0,,,,
product_id,price,merchant_id,brand,name
AVphzgbJLJeJML43fA0o,104.99,1001,Sanus,Sanus VLF410B1 10-Inch Super Slim Full-Motion ...
AVpgMuGwLJeJML43KY_c,69,1002,Boytone,Boytone - 2500W 2.1-Ch. Home Theater System - ...
AVpe9FXeLJeJML43zHrq,23.99,1001,DENAQ,DENAQ - AC Adapter for TOSHIBA SATELLITE
AVpfVJXu1cnluZ0-iwTT,290.99,1001,DreamWave,DreamWave - Tremor Portable Bluetooth Speaker ...

* Save to excel file

In [12]:
products.head()

,1,2,3,4
0,,,,
product_id,price,merchant_id,brand,name
AVphzgbJLJeJML43fA0o,104.99,1001,Sanus,Sanus VLF410B1 10-Inch Super Slim Full-Motion ...
AVpgMuGwLJeJML43KY_c,69,1002,Boytone,Boytone - 2500W 2.1-Ch. Home Theater System - ...
AVpe9FXeLJeJML43zHrq,23.99,1001,DENAQ,DENAQ - AC Adapter for TOSHIBA SATELLITE
AVpfVJXu1cnluZ0-iwTT,290.99,1001,DreamWave,DreamWave - Tremor Portable Bluetooth Speaker ...

In [13]:
products.to_excel('out.xlsx')

In [14]:
pd.read_excel('out.xlsx').head()

,Unnamed: 0,1,2,3,4
0,product_id,price,merchant_id,brand,name
1,AVphzgbJLJeJML43fA0o,104.99,1001,Sanus,Sanus VLF410B1 10-Inch Super Slim Full-Motion ...
2,AVpgMuGwLJeJML43KY_c,69,1002,Boytone,Boytone - 2500W 2.1-Ch. Home Theater System - ...
3,AVpe9FXeLJeJML43zHrq,23.99,1001,DENAQ,DENAQ - AC Adapter for TOSHIBA SATELLITE
4,AVpfVJXu1cnluZ0-iwTT,290.99,1001,DreamWave,DreamWave - Tremor Portable Bluetooth Speaker ...

In [15]:
products.to_excel('out.xlsx', sheet_name='Products', index=None)

In [16]:
pd.read_excel('out.xlsx').head()

,1,2,3,4
0,price,merchant_id,brand,name
1,104.99,1001,Sanus,Sanus VLF410B1 10-Inch Super Slim Full-Motion ...
2,69,1002,Boytone,Boytone - 2500W 2.1-Ch. Home Theater System - ...
3,23.99,1001,DENAQ,DENAQ - AC Adapter for TOSHIBA SATELLITE
4,290.99,1001,DreamWave,DreamWave - Tremor Portable Bluetooth Speaker ...

## Positioning data with startrow and startcol

In [17]:
products.to_excel('out.xlsx',
                  sheet_name='Products',
                  startrow=1,
                    startcol=2,
)

## Saving Multiple Sheets

In [18]:
writer = pd.ExcelWriter('out.xlsx')
writer

In [19]:
with writer:
    products.to_excel(writer, sheet_name='Products')

In [20]:
pd.read_excel('out.xlsx', sheet_name='Products').head()

,Unnamed: 0,1,2,3,4
0,product_id,price,merchant_id,brand,name
1,AVphzgbJLJeJML43fA0o,104.99,1001,Sanus,Sanus VLF410B1 10-Inch Super Slim Full-Motion ...
2,AVpgMuGwLJeJML43KY_c,69,1002,Boytone,Boytone - 2500W 2.1-Ch. Home Theater System - ...
3,AVpe9FXeLJeJML43zHrq,23.99,1001,DENAQ,DENAQ - AC Adapter for TOSHIBA SATELLITE
4,AVpfVJXu1cnluZ0-iwTT,290.99,1001,DreamWave,DreamWave - Tremor Portable Bluetooth Speaker ...

In [21]:
pd.read_excel('out.xlsx', sheet_name='Merchants').head()

ValueError: Worksheet named 'Merchants' not found

In [ ]:
with pd.ExcelWriter('out.xlsx') as writer:
    products.to_excel(writer, sheet_name='Products')
    merchants.to_excel(writer, sheet_name='Merchants')

NameError: name 'merchants' is not defined